<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/join.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- <script src="main.js"></script> -->
</head>

<body>
    <div id="nav_Div">
        <img src="/images/logo4.png" id="logo_Image" height="100%">
    </div>
    <div id='body_container'>

        <div class="container">
            <div class="col-sm-6">
                <h2>회원가입</h2s>
            </div>

            <form class="form-horizontal" role="form">

                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="firstName" class="col-sm-6 control-label">아이디</label>
                        <input type="text" id="user_ID" placeholder="" class="supportForm form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="firstName" class="col-sm-6 control-label">비밀번호</label>
                        <input type="password" id="password" placeholder="" class="supportForm form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="firstName" class="col-sm-6 control-label">비밀번호 확인</label>
                        <input type="password" id="password_Check" placeholder="" class="supportForm form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="firstName" class="col-sm-6 control-label">학과</label>
                        <input type="text" id="major" placeholder="ex) 컴퓨터공학과" class="supportForm form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="firstName" class="col-sm-6 control-label">학번</label>
                        <input type="text" id="student_number" placeholder="ex) 18011234" class="supportForm form-control">
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="firstName" class="col-sm-6 control-label">학년</label>
                        <select class="form-control" id="grade">
                            <option>1학년</option>
                            <option>2학년</option>
                            <option>3학년</option>
                            <option>4학년</option>
                            <option>5학년(건축학과)</option>
                            <option>초과학년</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="firstName" class="col-sm-6 control-label">학점</label>
                        <input type="text" id="score" placeholder="ex) 3.5" class="supportForm form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="firstName" class="col-sm-6 control-label">토익</label>
                        <input type="text" id="toeic" placeholder="ex) 840" class="supportForm form-control">
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="firstName" class="col-sm-6 control-label">토스</label>
                        <select class="form-control" id="toss">
                            <option>미응시</option>
                            <option>Level1</option>
                            <option>Level2</option>
                            <option>Level3</option>
                            <option>Level4</option>
                            <option>Level5</option>
                            <option>Level6</option>
                            <option>Level7</option>
                            <option>Level8</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="firstName" class="col-sm-6 control-label">오픽</label>
                        <select class="form-control" id="opic">
                            <option>미응시</option>
                            <option>NL</option>
                            <option>NM</option>
                            <option>NH</option>
                            <option>IL</option>
                            <option>IM</option>
                            <option>IH</option>
                            <option>AL</option>
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="firstName" class="col-sm-6 control-label">봉사활동 횟수</label>
                        <select class="form-control" id="volunteer">
                            <option>0번</option>
                            <option>1번</option>
                            <option>2번</option>
                            <option>3번</option>
                            <option>4번</option>
                            <option>5회이상</option>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="firstName" class="col-sm-6 control-label">인턴경험</label>
                        <select class="form-control" id="intern">
                            <option>0번</option>>
                            <option>1번</option>
                            <option>2번</option>
                            <option>3번</option>
                            <option>4번</option>
                            <option>5회이상</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="firstName" class="col-sm-6 control-label">공모전 수상</label>
                        <select class="form-control" id="Competition">
                            <option>0번</option>
                            <option>1번</option>
                            <option>2번</option>
                            <option>3번</option>
                            <option>4번</option>
                            <option>5회이상</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="firstName" class="col-sm-6 control-label">해외 연수</label>
                        <select class="form-control" id="aborad">
                            <option>0번</option>>
                            <option>1번</option>
                            <option>2번</option>
                            <option>3번</option>
                            <option>4번</option>
                            <option>5회이상</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        <label for="firstName" class="col-sm-6 control-label">자격증</label>
                        <select class="form-control" id="certificate">
                            <option>0개</option>>
                            <option>1개</option>
                            <option>2개</option>
                            <option>3개</option>
                            <option>4개</option>
                            <option>5개이상</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                        <div class="col-sm-6">
                            <label for="firstName" class="col-sm-6 control-label">직군</label>
                            <select class="form-control" id="job_Part">
                                <option>소프트웨어/IT</option>>
                                <option>경영/재무</option>
                                <option>마케팅</option>
                                <option>기타</option>
                            </select>
                        </div>
                    </div>

                <div class="form-group" id="join_Button"> 
                    <div class="col-sm-6 col-sm-offset-3">
                        <button style="margin-bottom: 3%"type="button" class="btn btn-danger btn-block" id='applyButton'>회원 가입</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <script>
    var logo=document.getElementById('logo_Image');
    logo.onclick=function(){
    location.href='http://34.219.126.51:3000';
}
</script>
</body>
</html>