<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>msg detail</title>
  </head>
  <body>
    <div><%= title %></div>
    <hr>
    <div><%= contents %></div>
  </body>
</html>
