<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>msg detail</title>
  </head>
  <body>
    <% if(user) { %>
      <div><%= title %></div>
      <hr>
      <div><%= contents %></div>
    <% } else { %>
      접근 권한이 없습니다.
    <% } %>
  </body>
</html>
