<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spec Compare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/specCompare.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
</head>

<body>
    <div id="nav_Div">
        <div id="logo_Div">
            <img src="/images/logo4.png" id="logo_Image" height="100%">
        </div>
        <div id="user_Input">
            <div id="help_Vertical">
                <div id="message_Div">
                    <img id="message_Update" src="/images/message_Icon.png" height="13%" data-toggle="modal" data-target="#myModal"/>
                    <!-- <img id="message" src="/images/message_Icon.png" height="13%" style="display:none" /> -->
                </div>
                <div>
                    &nbsp;
                    <strong style="cursor:pointer"> <%= user %></strong>
                </div>
                <div>
                    <img src="/images/logout.png" height="8%" style="cursor: pointer;" onclick="location.href='/logout'"/>
                </div>
            </div>
        </div>
    </div>

    <div class="article_div">
        <div class="user_div">
            <h3 style="margin-left: auto;margin-right: auto;padding-left: 8px;color: rgb(255, 255, 255);">
                직군 스펙 비교
            </h3>
        </div>

        <div class="divider_h_o1">
            <div class="divider_h_i1"></div>
        </div>

        <div class="container-fluid curtain">

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 tile_section">
                    <div class="container-fluid" style="padding-top: 16px;">

                        <div class="row">

                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" onclick="scoreGraph();">
                                <div class="tile" title="학점">
                                    <div class="tile_title">학점 </div>
                                    <div class="divider_h_o2">
                                        <div class="divider_h_i2"></div>
                                    </div>
                                    <div class="tile_value">3.5</div>
                                </div>
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" onclick="toeicGraph();">
                                <div class="tile" title="토익">
                                    <div class="tile_title">토익 </div>
                                    <div class="divider_h_o2">
                                        <div class="divider_h_i2"></div>
                                    </div>
                                    <div class="tile_value">700</div>
                                </div>
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" onclick="toSGraph();">
                                <div class="tile" title="토익스피킹">
                                    <div class="tile_title">토스 </div>
                                    <div class="divider_h_o2">
                                        <div class="divider_h_i2"></div>
                                    </div>
                                    <div class="tile_value">3.5</div>
                                </div>
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="tile" title="오픽">
                                    <div class="tile_title">오픽 </div>
                                    <div class="divider_h_o2">
                                        <div class="divider_h_i2"></div>
                                    </div>
                                    <div class="tile_value">3.5</div>
                                </div>
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="tile" title="봉사 활동">
                                    <div class="tile_title">봉사 </div>
                                    <div class="divider_h_o2">
                                        <div class="divider_h_i2"></div>
                                    </div>
                                    <div class="tile_value">3.5</div>
                                </div>
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="tile" title="인턴쉽">
                                    <div class="tile_title">인턴 </div>
                                    <div class="divider_h_o2">
                                        <div class="divider_h_i2"></div>
                                    </div>
                                    <div class="tile_value">3.5</div>
                                </div>
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="tile" title="공모전">
                                    <div class="tile_title">공모전 </div>
                                    <div class="divider_h_o2">
                                        <div class="divider_h_i2"></div>
                                    </div>
                                    <div class="tile_value">3.5</div>
                                </div>
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="tile" title="해외 경험">
                                    <div class="tile_title">해외경험</div>
                                    <div class="divider_h_o2">
                                        <div class="divider_h_i2"></div>
                                    </div>
                                    <div class="tile_value">3.5</div>
                                </div>
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="tile" title="자격증">
                                    <div class="tile_title">자격증 </div>
                                    <div class="divider_h_o2">
                                        <div class="divider_h_i2"></div>
                                    </div>
                                    <div class="tile_value">3.5</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="container-fluid">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 graph_section">
                        <div class="graph_internal_div">
                            <div class="size_div">
                                <canvas id="barCanvas"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- The Modal -->
    <div class="modal dialogBack" id="myModal">
        <div class="modal-dialog" modal-lg>
            <div class="modal-content dialogAnim">
                <!-- Modal Header -->
                <div class="modal-header modal_header_styler">
                    <h4 class="modal-title" style="color: white">Message</h4>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <table class="table dlg_table">
                        <thead>
                            <tr>
                                <th>보낸사람</th>
                                <th>제목</th>
                                <th>날짜</th>
                                <th>읽음</th>
                            </tr>
                        </thead>
                        <tbody id='msg_list'>
                            <!-- msg list show -->
                        </tbody>
                    </table>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer modal_footer_styler">
                    <button id='msgListCloseBtn' type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <!-- msg detail show -->
    <div id='msg_detail'></div>



    <script src="/javascripts/specCompare.js"></script>

    <script>
        function scoreGraph() {
            var labels = ["2.0 미만", "2.0~2.5", "2.5~3.0", "3.0~3.5", "3.5~4.0", "4.0~4.5"];
            var datas = [12, 16, 14, 19, 9, 6];
            showGraph("학점 별 학생 분포도", labels, datas);
        }

        function toeicGraph() {
            var labels = ["700 이하", "700~750", "750~800", "800~850", "850~900", "900~950", "950 이상"];
            var datas = [11, 6, 12, 11, 8, 5, 3];
            showGraph("TOEIC 점수 별 학생 분포도", labels, datas);
        }

        function toSGraph() {
            var labels = ["Lv4 이하", "Lv5", "Lv6", "Lv7", "Lv8"];
            var datas = [13, 17, 14, 9, 6];
            showGraph("TOEIC Speaking 점수 별 학생 분포도", labels, datas);
        }

        function newMsgCheck(){
          var blink = document.getElementById("message_Update");
          blink.style.visibility = blink.style.visibility == "" ? "hidden" : ""
        }

        $.get('/msg/msgList', function(data){
          $('#msg_list').html(data);
        });

        $.get('/msg/msgDetail', function(data){
          $('#msg_detail').html(data);
        });

        // $('#msgListCloseBtn').click(function(){
        //   clearInterval(newMsgCheck);
        //   location.reload();
        // });
    </script>

</body>

</html>
