<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/userDetail.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/javascripts/scripts.js"></script>
</head>
<body>
    <div><h1 style="color: white;">Header</h1></div> <!-- 헤더 부분 -->

    <div class="article_div">
        <div class="user_div">    
            <div class="container-fluid">
                <div class="row">
                   <div class="col-xs-0 col-sm-4 col-md-4 col-lg-4">
                       <div>
                       </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <div style="display: flex;">
                            <h3 style="margin-left: auto;margin-right: auto;padding-left: 8px;color: rgb(255, 255, 255);">
                                <div class="send_msg_btn" title="메시지 전송하기" onclick="alert('메시지 전송')"> <!-- 메시지 전송 버튼 -->
                                    <img src="images/message_light.png" class="send_msg_btn_img" alt="">
                                </div>
                                최세인 <!-- 사용자 이름 -->
                            </h3>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <div style="display: flex;justify-content: center;padding-top: 18px;">
                            <!--사용자 학과-->
                            <h4 style="margin-left: auto;margin-right: 8px;color: rgb(187, 187, 187);">컴퓨터공학과</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="divider_h_o1">
            <div class="divider_h_i1"></div>
        </div>

        <div class="container-fluid curtain">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 tile_section">
                    <div class="container-fluid" style="padding-top: 16px;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="tile" title="학점">
                                    <div class="tile_title">학점  </div>
                                    <div class="divider_h_o2">
                                        <div class="divider_h_i2"></div>
                                    </div>
                                    <div class="tile_value">3.5</div>
                                </div>
                            </div>
            
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="tile" title="토익">
                                    <div class="tile_title">토익  </div>
                                    <div class="divider_h_o2">
                                        <div class="divider_h_i2"></div>
                                    </div>
                                    <div class="tile_value">700</div>
                                </div>
                            </div>
            
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="tile" title="토익스피킹">
                                    <div class="tile_title">토스  </div>
                                    <div class="divider_h_o2">
                                        <div class="divider_h_i2"></div>
                                    </div>
                                    <div class="tile_value">3.5</div>
                                </div>
                            </div>
            
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="tile" title="오픽">
                                    <div class="tile_title">오픽  </div>
                                    <div class="divider_h_o2">
                                        <div class="divider_h_i2"></div>
                                    </div>
                                    <div class="tile_value">3.5</div>
                                </div>
                            </div>
            
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="tile" title="봉사 활동">
                                    <div class="tile_title">봉사  </div>
                                    <div class="divider_h_o2">
                                        <div class="divider_h_i2"></div>
                                    </div>
                                    <div class="tile_value">3.5</div>
                                </div>
                            </div>
            
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="tile" title="인턴쉽">
                                    <div class="tile_title">인턴  </div>
                                    <div class="divider_h_o2">
                                        <div class="divider_h_i2"></div>
                                    </div>
                                    <div class="tile_value">3.5</div>
                                </div>
                            </div>
            
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="tile" title="공모전">
                                    <div class="tile_title">공모전 </div>
                                    <div class="divider_h_o2">
                                        <div class="divider_h_i2"></div>
                                    </div>
                                    <div class="tile_value">3.5</div>
                                </div>
                            </div>
            
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="tile" title="해외 경험">
                                    <div class="tile_title">해외경험</div>
                                    <div class="divider_h_o2">
                                        <div class="divider_h_i2"></div>
                                    </div>
                                    <div class="tile_value">3.5</div>
                                </div>
                            </div>
            
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="tile" title="자격증">
                                    <div class="tile_title">자격증 </div>
                                    <div class="divider_h_o2">
                                        <div class="divider_h_i2"></div>
                                    </div>
                                    <div class="tile_value">3.5</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 apply_section">
                    <div class="apply_list_div">
                        <div class="container-fluid apply_list_header">
                            <div class="row">
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <p class="apply_list_header_p">일자</p>
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                    <p class="apply_list_header_p">내용</p>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <p class="apply_list_header_p">합불</p>
                                </div>
                            </div>
                        </div>

                        <div id="aply_list_parent">
                            <!--데이터베이스에서 받아온 정보를 배열로 저장하고
                                addApplyList(); 함수로 배열값을 넘김
                           
                            /**************************예제*****************************/
                            <script>
                                var 지원날짜 = ["18.03.02","18.03.10", "18.04.01","18.05.13","18.05.19"];
                                var 지원내용 = ["회사A 업무1 공개채용", "회사B 업무3 인턴", 
                                "회사C 업무2 공개채용", "회사D 업무4 인턴", "회사E 업무5 인턴"];
                                var 합격여부 = ["불합", "불합", "대기", "합격", "대기"];

                                addApplyList(지원날짜, 지원내용, 합격여부);
                            </script>
                            /***********************************************************/
                        -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>