body,html{
    width: 100%;
    height: 100%;
    background: url('/images/spec_Compare_Page_Image.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
}
#logo_Div{
    height: 100%;
}
#logo_Image{
    margin-left: 3%;
    cursor: pointer;
}
.spec{
    cursor: pointer;
}

#nav_Div{
    display: flex;
    width: 100%;
    height: 9%;
    background-color: brown;
}

#logo_Div{
    width: 75%;
}

.article_div{
    margin-top: 5%;
}

#user_Input{
    color:white;
    height: 100%;
    font-size: 25px;
}

#message_Div{
    cursor: pointer;
}

#help_Vertical{
    width: 100%;
    height: 100%;
    display: table;
}

#help_Vertical div{
    display: table-cell;
    vertical-align: middle;
}

#help_Vertical img{
    display: table-cell;
    vertical-align: middle;
    margin-right: 5%;
    width: auto;
}

#user_Input img{
    margin-left: 10%;
}

table{
    color: white;
}

.dlg_table {
    color: #333 !important;
}

.date{
    width: 15%;
}

.content{
    width: 70%;
}

.result{
    width: 15%;
}

.article_div {
    margin-left: 5%;
    width: 90%;
    margin-top: 4%;
    background-color: rgba(0, 0, 0, .66);
    border: 2px solid grey;
    border-radius: 6px;
    padding: 0px 14px 14px 14px;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.tile_title {
    display: flex;
    color: #efefef;
    font-size: 24px;
    justify-content: center;
}

.tile_value {
    color: #dbdbdb;
    font-size: 22px;
    display: flex;
    justify-content: center;
}
.tile {
    width: 100%;
    height: 100px;
    border: 2px solid #d32f2f;
    border-radius: 6px;
    background-color: rgba(64,64,64,.72);
    margin-bottom: 30px;
    animation: BtnOut .2s forwards;
}

.tile:hover {
    width: 100%;
    height: 100px;
    border: 2px solid #d32f2f;
    border-radius: 6px;
    background-color: rgba(64,64,64,.72);
    margin-bottom: 30px;
    animation: BtnOver .2s forwards;
}

@media (max-width: 1199px) {
    .tile_section {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .divider_h_o2 {
        height: 70%;
        padding-top: 10px;
    }
    .divider_h_i2 {
        border-top: 0;
        border-left: 1px solid #aaaaaabe;
        height: 70%;
        width: 0;
    }
    .tile {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .tile_title {
        margin-right: auto;
        margin-left: auto;
        padding-top: 0;
    }
    .tile_value {
        margin-left: auto;
        margin-right: auto;
    }
    .graph_internal_div {
        margin: 2px -15px 0 -15px;
    }
}

@media only screen and (max-width: 766px) and (min-width: 300px)  {
    table{
      font-size: 9px;
    }
    .content{
        width: 65%;
    }
    .result{
        width: 20%;
    }
    #logo_Div{
        width: 40%;
    }
    .tile_title,.tile_value{
        font-size: 15px;
    }
    .article_div{
        padding: 0px ;
    }
    .tile {
        height: 80px;
    }
    .tile:hover {
        height: 80px;
    }
    .graph_internal_div {
        margin: 2px -15px 0 -15px;
    }
}
@media only screen and (max-width: 500px) and (min-width: 300px)  {
    #logo_Div{
        width: 43% !important;
    }
}
@media screen and (orientation: portrait) {
    strong{
        font-size: 16.5px;
    }
    #logo_Div{
        width: 65%;
    }
    .article_div {
        width: 100%;
        margin: 0;
    }
   
}

@media only screen and (max-width: 1025px) and (min-width: 767px)  {
    .article_div {
      width: 100%;
      margin: 0;
    }
    #logo_Div{
        width: 65%;
    }
    strong{
        font-size: 25px;
    }
    .graph_internal_div {
        margin: 2px -15px 0 -15px;
    }
}
.user_div {
    padding: 10px 0 0 2px;
    width: 100%;
    display: flex;
}

@keyframes BtnOver {
    0% {
        background-color: rgba(64,64,64,.72);
        box-shadow: none;
    }
    100% {
        background-color: rgba(64, 64, 64, 1);
        box-shadow: 6px 12px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@keyframes BtnOut {
    100% {
        background-color: rgba(64,64,64,.72);
        box-shadow: none;
    }
    0% {
        background-color: rgba(64, 64, 64, 1);
        box-shadow: 6px 12px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.tile_section {
    margin-top: 20px;
    background-color: rgba(64, 64, 64, .66);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

@keyframes divExpander {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(98%);
    }
}

.divider_h_o1 {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: divExpander .3s ease-in;
}

.divider_h_i1 {
    border-top: 1px solid #aaaaaabe;
    margin-top: 12px;
    width: 98%;
}

.divider_h_o2 {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.divider_h_i2 {
    margin-top: 0px; 
}

.curtain {
    opacity: 0;
    animation: contentExpander 0.5s forwards;
    animation-delay: 0.3s;
}

.graph_section {
    margin-top: 20px;
    margin-left: 0px;
}

.graph_internal_div {
    border-top: 2px solid #d32f2f;
    border-bottom: 3px solid #9a0007;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    box-sizing: border-box;
    background-color: rgba(32, 32, 32, .72);
    height: 406px;
}

.size_div {
    height: 100% !important;
}

#barCanvas {
    height: 100% !important;
}

@keyframes contentExpander {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dialogAnim {
    animation: animDialog .2s forwards;
}

.dialogBack {
    animation: animDialogBack .2s forwards;
    padding-top: 10%;
}

.modal_header_styler {
    border-bottom: 2px solid #9a0007 !important;
    background-color: #d32f2f;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.modal_footer_styler {
    border-top: 1px solid #c7c7c7 !important;
    border-bottom: 2px solid #c2c2c2 !important;
    background-color: #f5f5f5;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.btn-danger {
    outline: none !important;
    transition: all .1333s ease-in;
    transition-property: background-color, border-color, box-shadow;
}

.btn-danger:hover {
    border-color: #d9534f !important;
    background-color: #ff625d !important;
    box-shadow: 0 3px 6px grey;
}

@keyframes animDialog {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes animDialogBack {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, .5);
    }
}
