body,html{
    width: 100%;
    height: 100%;
    background: url('/images/schback.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

#logo_Image{
    margin-left: 3%;
    cursor: pointer;
}
#nav_Div{
    display: flex;
    width: 100%;
    height: 9%;
    background-color: brown;
}
#logo_Div{
    width: 75%;
}
.article_div{
    margin-top: 5%;
}
#user_Input{
    color:white;
    height: 100%;
    font-size: 25px;
}
#message_Div{
    cursor: pointer;
}

#help_Vertical{
    width: 100%;
    height: 100%;
    display: table;
}
#help_Vertical div{
    display: table-cell;
    vertical-align: middle;
}
#help_Vertical img{
    display: table-cell;
    vertical-align: middle;
    margin-right: 5%;
    width: auto;
}
#user_Input img{
    margin-left: 10%;
}
.article_div {
    width: 70%;
    /* max-width: 889px; */
    margin-left: 15%;
    /* height: 100%; */
    background-color: rgba(0, 0, 0, .66);
    border: 2px solid grey;
    border-radius: 6px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.search_button{
    cursor: pointer;
}

@media (max-width: 768px) {
    .article_div {
        width: 100%;
        margin-left: 0;
    }
}

.search_button_div {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 32px;
}

.search_button {
    color: white;
    font-size: 16px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 4px;
    background-color: rgba(64, 64, 64, .60);
    animation: SearchBtnOut .2s forwards;
}

.search_button:hover {
    animation: SearchBtnHover .2s forwards;
}

.result_container {
    width: 100%;
    padding: 10px 14px 0 14px;
}

.result_div {
    margin-top: 2px;
    border-top: 4px solid #c30e2e;
    border-bottom: 2px solid #c30e2e;
    background-color: rgba(32, 32, 32, .72);
    height: 360px;
    overflow: auto;
}

.form_control_label {
    margin-top: 16px;
    margin-bottom: -1px;
    margin-left: 8px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: left;
    color: white;
}

.form_control_styler {
    width: 100%;
    height: 36px;
    padding-left: 8px;
    color: #dbdbdb;
    font-size: 14px;
    align-items: center;
    display: flex;
    border: 2px solid grey;
    border-radius: 4px;
    background-color: rgba(64, 64, 64, .60);
}

.std_list {
    color: #dbdbdb;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0 10px 0 10px;
}

.std_list_item {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    background-color: rgba(0, 0, 0, 0.1);
    height: 37px;
    margin-top: -1px;
    overflow: auto;
    animation: StdListOut .2s forwards;
    cursor: pointer;
}

.std_list_item :hover {
    animation: StdListHover .2s forwards;
}

.std_list_left {
    float: left;
    padding-left: 18px;
    width: 40%;
    pointer-events: none;
}

.std_list_right {
    float: right;
    width: 50%;
    pointer-events: none;
}

.std_item_div {
    pointer-events: auto;
    height: 100%;
    padding-top: 7px;
}

/* @media (max-width: 500px) {
    .std_item_div {
        font-size: 10px;
        padding-top: 12px;
    }
}

@media (max-width: 400px) {
    .std_item_div {
        font-size: 10px;
        padding-top: 12px;
    }
    .std_list_right {
        width: 55%;
    }
} */
@media only screen and (max-width: 766px) and (min-width: 300px)  {
  
    #logo_Div{
        width: 60%;
    }

   
}
@media screen and (orientation: portrait) {
    strong{
        font-size: 17px;
    }
    #logo_Div{
        width: 42%;
    }
}
@media only screen and (max-width: 1025px) and (min-width: 767px)  {
        #logo_Div{
            width: 65%;
        }
        strong{
            font-size: 25px;
        }
}


@keyframes SearchBtnHover {
    0% {
        background-color: rgba(64, 64, 64, .60);
        box-shadow: none;
    }
    100% {
        background-color: rgba(64, 64, 64, 1);
        box-shadow: 6px 12px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@keyframes SearchBtnOut {
    100% {
        background-color: rgba(64, 64, 64, .60);
        box-shadow: none;
    }
    0% {
        background-color: rgba(64, 64, 64, 1);
        box-shadow: 6px 12px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@keyframes StdListHover {
    0% {
        background-color: rgba(64, 64, 64, .05);
        box-shadow: none;
    }
    100% {
        background-color: rgba(64, 64, 64, 1);
        box-shadow: 6px 12px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@keyframes StdListOut {
    100% {
        background-color: rgba(64, 64, 64, .05);
        box-shadow: none;
    }
    0% {
        background-color: rgba(64, 64, 64, .7);
        box-shadow: 6px 12px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}