body,html{
    width: 100%;
    height: 100%;
    background: url('/images/schback.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

#logo_Image{
    margin-left: 3%;
    cursor: pointer;
}
#nav_Div{
    display: flex;
    width: 100%;
    height: 9%;
    background-color: brown;
}
#logo_Div{
    width: 75%;
}
.article_div{
    margin-top: 5%;
}
#user_Input{
    color:white;
    height: 100%;
    font-size: 25px;
}
#message_Div{
    cursor: pointer;
}

#help_Vertical{
    width: 100%;
    height: 100%;
    display: table;
}
#help_Vertical div{
    display: table-cell;
    vertical-align: middle;
}
#help_Vertical img{
    display: table-cell;
    vertical-align: middle;
    margin-right: 5%;
    width: auto;
}
#user_Input img{
    margin-left: 10%;
}

table{
    color: white;
}.date{
    width: 15%;
}
.content{
    width: 70%;
}
.result{
    width: 15%;
}
.article_div {
    margin-left: 5%;
    width: 90%;
    /* max-width: 1280px; */
    /* min-height: 560px; */
    margin-top: 4%;
    background-color: rgba(0, 0, 0, .66);
    border: 2px solid grey;
    border-radius: 6px;
    padding: 0px 14px 14px 14px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* @media (max-width: 448px) {
    .article_div {
        padding: 0;
    }
    .apply_list_div {
        padding: 0;
    }
}
@media (min-width: 449px) {
    .apply_list_div {
       padding: 0 16px 0 16px;
    }
} */

.tile_title {
    display: flex;
    color: #efefef;
    font-size: 24px;
    justify-content: center;
}

.tile_value {
    color: #dbdbdb;
    font-size: 22px;
    display: flex;
    justify-content: center;
}
.tile {
    width: 100%;
    height: 100px;
    border: 2px solid #d32f2f;
    border-radius: 6px;
    background-color: rgba(64,64,64,.72);
    margin-bottom: 30px;
    animation: BtnOut .2s forwards;
}

.tile:hover {
    width: 100%;
    height: 100px;
    border: 2px solid #d32f2f;
    border-radius: 6px;
    background-color: rgba(64,64,64,.72);
    margin-bottom: 30px;
    animation: BtnOver .2s forwards;
}

@media (max-width: 1199px) {
    .tile_section {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .apply_list_div {
        margin-left: -15px;
        margin-right: -15px;
        border-radius: 0;
    }
    .divider_h_o2 {
        height: 70%;
        padding-top: 10px;
    }
    .divider_h_i2 {
        border-top: 0;
        border-left: 1px solid #aaaaaabe;
        height: 70%;
        width: 0;
    }
    .tile {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .tile_title {
        margin-right: auto;
        margin-left: auto;
        padding-top: 0;
    }
    .tile_value {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 766px) and (min-width: 300px)  {
    table{
        font-size: 9px;
    }

    .content{
        width: 65%;
    }

    .result{
        width: 20%;
    }

    #logo_Div{
        width: 40%;
    }

    .tile_title,.tile_value{
        font-size: 15px;
    }

    .article_div{
        padding: 0px ;
    }

    .tile {
        height: 80px;
    }
    
    .tile:hover {
        height: 80px;
    }

    .dialogBack {
        margin-left: -10px;
        margin-right: -10px;
    }
   
}
@media only screen and (max-width: 500px) and (min-width: 300px)  {
    #logo_Div{
        width: 54% !important;
    }
}
@media screen and (orientation: portrait) {
    strong{
        font-size: 17px;
    }
    #logo_Div{
        width: 65%;
    }
    .article_div {
        width: 100%;
        margin: 0;
      }
}
@media only screen and (max-width: 1025px) and (min-width: 767px)  {
    .article_div {
      width: 100%;
      margin: 0;
    }
        #logo_Div{
            width: 65%;
        }
        strong{
            font-size: 25px;
        }
}
/* @media (min-width: 1200px) {
    .apply_list_div {
        min-width: 320px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .divider_h_i2 {
        border-top: 1px solid #aaaaaabe; 
        margin-top: 0px; 
        width: 70%;
    }
    .tile_title {
        padding-top: 14px;
    }
    .tile_value {
        padding-top: 6px
    }
} */

.user_div {
    padding: 10px 0 0 2px;
    width: 100%;
}

.send_msg_btn {
    position: absolute;
    opacity: .66;
    transition: opacity .2s;
}

.send_msg_btn:hover {
    opacity: 1;
}

.send_msg_btn_img {
    width: 36px;
    margin-top: -6px;
    margin-left: -46px;
    cursor: pointer;
}



@keyframes BtnOver {
    0% {
        background-color: rgba(64,64,64,.72);
        box-shadow: none;
    }
    100% {
        background-color: rgba(64, 64, 64, 1);
        box-shadow: 6px 12px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@keyframes BtnOut {
    100% {
        background-color: rgba(64,64,64,.72);
        box-shadow: none;
    }
    0% {
        background-color: rgba(64, 64, 64, 1);
        box-shadow: 6px 12px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.dialogAnim {
    animation: animDialog .2s forwards;
}

.dialogBack {
    animation: animDialogBack .2s forwards;
    padding-top: 10%;
}

@keyframes animDialog {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes animDialogBack {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, .5);
    }
}

.tile_section {
    margin-top: 20px;
    background-color: rgba(64, 64, 64, .66);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.apply_section {
    margin-top: 20px;
    margin-left: 0px;
}

.apply_list_div {
    margin-top: 2px;
    border-top: 2px solid #d32f2f;
    border-bottom: 3px solid #9a0007;
    border-left: 1px solid #707070;
    border-right: 1px solid #707070;
    box-sizing: border-box;
    background-color: rgba(32, 32, 32, .72);
    height: 406px;
}

@keyframes divExpander {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(98%);
    }
}

.divider_h_o1 {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: divExpander .3s ease-in;
}

.divider_h_i1 {
    border-top: 1px solid #aaaaaabe;
    margin-top: 12px;
    width: 98%;
}

.divider_h_o2 {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.divider_h_i2 {
    margin-top: 0px; 
}

.curtain {
    opacity: 0;
    animation: contentExpander 0.5s forwards;
    animation-delay: 0.3s;
}

@keyframes contentExpander {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.apply_list_header {
    border-bottom: 2px solid #707070;
    box-shadow: 0px 3px 20px 0px #000000;
}

.apply_list_header_p {
    color: #efefef;
    font-weight: 500;
    font-size: 14px;
    padding-top: 6px;
    margin: 0;
    display: flex;
    justify-content: center;
}

#aply_list_parent {
    max-height: 370px;
    overflow-y: auto;
}

.aply_list {
    padding: 0px;
}

.aply_list_item {
    border-bottom: 1px solid grey;
    background-color: rgba(0, 0, 0, 0.1);
    height: 37px;
    margin: 0;
    overflow: auto;
    animation: ApplyListOut .2s forwards;
    cursor: pointer;
}

.aply_list_item :hover {
    animation: ApplyListHover .2s forwards;
}

.apply_list_item_header_p {
    color: #efefef;
    font-weight: 400;
    font-size: 12px;
    padding-top: 10px;
    margin: 0 0 8px;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.modal_body_styler {
    display: flex;
    flex-direction: column;
}

input {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px #9a0007 solid;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 4px !important;
    margin-top: -2px !important;
    padding-left: 4px;
    padding-bottom: 0px;
    width: 92%;
    outline: none;
     
    transition: all .2s ease-in;
    transition-property: border-color;
}

input:focus {
    border-color: #ff0000 !important;
}

.modal_header_styler {
    border-bottom: 2px solid #9a0007 !important;
    background-color: #d32f2f;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.modal_footer_styler {
    border-top: 1px solid #c7c7c7 !important;
    border-bottom: 2px solid #c2c2c2 !important;
    background-color: #f5f5f5;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

textarea {
    border: 1px solid #9a0007 !important;
    border-radius: 3px;
    margin-top: 0 !important;
    width: 100%;
    resize: none;
    outline: none;
    transition: all .2s ease-in;
    transition-property: border-color;
}

textarea:focus {
    border-color: #ff0000 !important;
}

.modal_close_btn_styler {
    margin-top: -20px !important;
    color: #c2c2c2 !important;
    opacity: 1 !important;
    font-weight: 200 !important;
    outline: none;
    transition: color .2s ease-in;
}

.modal_close_btn_styler:hover {
    color: #ffffff !important;
}

.btn-primary {
    outline: none !important;
    transition: all .1333s ease-in;
    transition-property: background-color, border-color, box-shadow;
}

.btn-primary:hover {
    border-color: #337ab7 !important;
    background-color: #4aabff !important;
    box-shadow: 0 3px 6px grey;
}

.btn-danger {
    outline: none !important;
    transition: all .1333s ease-in;
    transition-property: background-color, border-color, box-shadow;
}

.btn-danger:hover {
    border-color: #d9534f !important;
    background-color: #ff625d !important;
    box-shadow: 0 3px 6px grey;
}

@keyframes ApplyListHover {
    0% {
        background-color: rgba(64, 64, 64, .05);
        box-shadow: none;
    }
    100% {
        background-color: rgba(64, 64, 64, 1);
        box-shadow: 6px 12px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@keyframes ApplyListOut {
    100% {
        background-color: rgba(64, 64, 64, .05);
        box-shadow: none;
    }
    0% {
        background-color: rgba(64, 64, 64, .7);
        box-shadow: 6px 12px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}